<HTML>

  <Head>
  </Head>
  <body>

    <table class="table table-view">
      <tr><th>ID</th><th>Name</th></tr>
      <tr *ngFor="let team of teams">
        <td>{{team.id}}</td>
        <td>{{team.name}}</td>
      </tr>
    </table>

    <a routerLink="/teamform"><button [disabled]="!addenebled" class="btn btn-success pull-right" >Add New Team</button></a>

  </body>

</HTML>
