<div class="container">
  <h1>Neuer User anlegen.</h1>
  <form>
    <div class="form-group">
      <label for="name" id="name">Name Label</label>
      <!--<label for="name" id="element_id">Name</label>-->
      <input [(ngModel)]="user.name" name="name" type="text" class="form-control" required>
      <!--<input type="text" class="form-control" id="name" required>-->
    </div>

    <div class="form-group">
      <!--<label [style.color]="colorhelper.getRed()">Hallo</label><br>-->
      <label for="surname" id="surname">Surename</label>
      <input [(ngModel)]="user.surname" name="surename" type="text" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="birthdate" id="birthdate">BirthDate</label>
      <input [(ngModel)]="user.birthdate" name="birthdate" type="date" class="form-control" required>
    </div>

    <select required [(ngModel)]="teamid" name="userFormteamValue">
      <option *ngFor="let team of teams" [value]="team.id">{{team.name}}</option>
    </select>

    <button type="submit" (click)="add()" class="btn btn-success" [disabled]="user.name == '' || user.surname == '' || teamid == null">Neuer User anlegen.</button>
    <button routerLink="/userliste">Zurück zur Userliste</button>
    <!--<button (click)="add()">Suche</button>-->
  </form>
</div>
