<h1>
  {{title}}
</h1>


<nav>
  <a routerLink="/userliste" routerLinkActive="active">All users</a>
  <a routerLink="/teamliste" routerLinkActive="active">All teams</a>
  <a routerLink="/userform" routerLinkActive="active">User Formular</a>
  <a routerLink="/newuserform" routerLinkActive="active">User Validation Formular</a>
</nav>
<router-outlet></router-outlet>

<!--
<div class="container">
  <app-userlist>Userslist !</app-userlist>
</div>
-->


