<!--<table matSort (matSortChange)="sortData($event)" class="table table-view">-->
<table class="table table-view">
  <thead>
  <tr><th>Name<span class="fa fa-caret-down"></span>
    <span class="fa fa-caret-up"></span></th><th>Surname</th><th>Id</th><th>Birthdate</th><th>Team</th><th>Aktionen</th></tr>

  <tr *ngFor="let user of userdtos">
<!--    <td> <a [routerLink]="['/userform2']" [queryParams]="{user: user}" fragment="education">
      {{user.name}}
    </a></td>-->
    <td><a [routerLink]="['/updateuserform', user.id,'update']">
      {{ user.name }}
    </a></td>
    <td>{{user.surname}}</td>
    <td>{{user.id}}</td>
    <td>{{user.birthdate}}</td>
    <td>{{user.teamname}}</td>
    <td><button (click)="deleteUser(user)">delete User</button></td>
  </tr>
  </thead>
<!--
  <a [routerLink]="['/user/bob']" [queryParams]="{debug: true}" fragment="education">
    link to user component
  </a>
-->

  Maximal Alter : {{maxage}}

</table>

<input [(ngModel)]="filterName">
<button (click)="search()">Suche</button>
<!--<button (click)="addUser()">Add new User</button>-->
<a routerLink="/userform"><button [disabled]="!addenebled" class="btn btn-success pull-right" >Add New User</button></a>
<!--<table-overview-example></table-overview-example>-->
<!--<pre>{{userdtos}}</pre> just json output yes displaying info with calling getAllUserList()-->

