<div class="container">
  <h1>Neuer User anlegen.</h1>
  <form class="form-horizontal" #signupForm = "ngForm">

    <button
      type="submit"
      class="btn btn-success"
      [disabled]="!signupForm.form.valid">
      Submit
    </button>

    <div class="form-group">
      <label for="name" id="name">Name Label</label>
      <!--<label for="name" id="element_id">Name</label>-->
      <input minlength="8" #namecorrect="ngModel" [(ngModel)]="user.name" name="name" type="text" class="form-control" required>
      <!--<input type="text" class="form-control" id="name" required>-->
    </div>
    <div *ngIf="namecorrect.invalid "
         class="alert alert-danger">
      <div *ngIf = "namecorrect.errors?.required">
        Email field can't be blank
      </div>
      <div *ngIf = "namecorrect.errors && namecorrect.touched">
        The email id doesn't seem right
      </div>
    </div>


    <div class="form-group">
      <!--<label [style.color]="colorhelper.getRed()">Hallo</label><br>-->
      <label for="surname" id="surname">Surename</label>
      <input [(ngModel)]="user.surname" name="surename" type="text" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="birthdate" id="birthdate">BirthDate</label>
      <input [(ngModel)]="user.birthdate" name="birthdate" type="date" class="form-control" required>
    </div>

    <select required [(ngModel)]="teamid" name="userFormteamValue">
      <option *ngFor="let team of teams" [value]="team.id">{{team.name}}</option>
    </select>

    <button  type="submit"
             class="btn btn-success"
             *ngIf="action === 'add'"
             [disabled]="!signupForm.form.valid" (click)="add()" >Neuer User anlegen.</button>
    <button  type="submit"
             class="btn btn-success"
             *ngIf="action === 'update'"
             [disabled]="!signupForm.form.valid" (click)="update()" >Update User !</button>
    <button routerLink="/userliste">Zurück zur Userliste</button>
    <!--<button (click)="add()">Suche</button>-->

    <div class="alertred" *ngIf="apiresponse.status=='nok'">{{apiresponse.message}}</div>
  </form>
</div>
