<table class="table table-view">

  <tr *ngFor="let user of userdtos">
    <td>{{user.name}}</td>
    <td>{{user.surname}}</td>
    <td>{{user.id}}</td>
  </tr>

</table>

<input [(ngModel)]="filterName">
<button (click)="search()">Suche</button>
<!--<button (click)="addUser()">Add new User</button>-->
<a routerLink="/userform"><button [disabled]="!addenebled" class="btn btn-success pull-right" > Add New User</button></a>

<pre>{{userdtos}}</pre>
